<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-collapse">
		<ul class="nav navbar-nav">
			<li>
				<a href="/index">HOME</a>
			</li>
			<li>
				<a href="/search">SEARCH</a>
			</li>
			<li>
				<a href="/create">CREATE</a>
			</li>
			<li>
				<a href="">ADMIN</a>
			</li>
		</ul>
	</div>
</nav>
